.footer{
  background:#0d1b2a;
  color:white;
  padding:50px;
  margin-top:50px;
}

.footer-content{
  max-width:1200px;
  margin:auto;
}

.footer-sections{
  display:flex;
  justify-content:space-between;
  margin-top:30px;
  margin-bottom:30px;
}

.footer h3{
  margin-bottom:10px;
}

.footer p{
  margin:8px 0;
}